.pg-header-subnav {
  display: flex;

  &-nav-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    a {
      color: var(--sidebar-text-color);
      text-decoration: none;
    }

    button {
      background-color: transparent;
      border: none;
      color: inherit;
      font-size: inherit;
      margin: 0;
      padding: 0;
    }

    &-link {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      padding: 7px 14px;
      width: 100%;

      &:hover,
      .route-selected & {
        background-color: var(--sidebar-item-background-color-hover) !important;
        color: var(--sidebar-item-text-color-hover);

        path {
          fill: var(--sidebar-item-text-color-hover);
        }
      }

      &-img-wrapper {
        height: 24px;
        margin-right: 14px;
      }

      &-text {
        font-size: calc(var(--font-size) * 1.16);
        font-weight: 600;
        margin: 0;
      }
    }
  }
}
